# http://coverage.readthedocs.io/en/latest/config.html
[run]
source = sample
omit = */test*

[report]
include = ./*
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: